name: franklin-importer-shared - Semantic Release

on:
  push:
    branches:
      - 'main'

jobs:

  build:
    runs-on: ubuntu-latest

    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm install
      - run: npm run lint
      - run: npm run test

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.ADOBE_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.ADOBE_NPM_TOKEN }}
